@import com.fasterxml.jackson.databind.JsonNode
@(fp : JsonNode)(nbTotal: Double)(nbIdent: Integer)(permap : HashMap[String,Double])(overview : HashMap[String,Percentages])(graph : HashMap[String,GraphValues])(supergraph : HashMap[String,SuperGraphValues])

<style>
[rel="popover"]{
    cursor: pointer;
    display:inline-block; /* chrome-fix */
}

td:nth-child(3){
    word-break:break-all;
}

</style>

<script>
$(document).ready(function() {
    $("[rel=popover]").popover({'trigger':'hover'});
});

</script>

<script type="text/javascript">
    $("#detBut").on('click',function(){
        $("#detTab" ).click();
    });
    $("#detBut2").on('click',function(){
        $("#detTab" ).click();
    });
    $("#graBut").on('click',function(){
        $("#graTab" ).click();
    });
</script>


<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a class="colored-tabs" href="#overview" role="tab" data-toggle="tab">@Messages("fp.overview")</a></li>
    <li><a id="detTab" class="colored-tabs" href="#details" role="tab" data-toggle="tab">@Messages("fp.details")</a></li>
    <li><a id="graTab" class="colored-tabs" href="#grap" role="tab" data-toggle="tab">@Messages("fp.graphs")</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active text-center" id="overview">
        <h1>@Messages("fp.title")</h1>

        <!-- Uniqueness -->
        @if(nbIdent<2) {
            <h1 style="color:red"><strong>@Messages("fp.track1")</strong></h1>
        } else {
            @if(nbIdent/nbTotal < 0.05) {
                <h1 style="color:orange">@Messages("fp.track2")</h1>
            } else {
                <h1 style="color:green">@Messages("fp.track3")</h1>
            }
        }
        @for((key,value) <- overview){ 
            @if(key != "Others"){      
                <p>@{"%.2f".format(value.getPercentages)} @Messages(value.getSentence1)<strong>@value.getName()</strong>@Messages(value.getSentence2)</p>
            }
        }


        <!-- Uniqueness details-->
        @if(nbIdent<2) {
            <p>@Html(Messages("fp.uniq1")) @("%.0f".format(nbTotal)) @Messages("fp.uniq2") @Html(Messages("fp.uniq3"))</p>

        } else {
            <p> @Html(Messages("fp.notuniq1")) @nbIdent @Messages("fp.notuniq2") @("%.0f".format(nbTotal))
                @Messages("fp.notuniq3") (@{"%.2f".format(nbIdent*100.0/nbTotal)} @Messages("fp.notuniq4")</p>
        }

        <p>
            <a id="detBut" class="btn btn-primary btn-lg" role="button">@Messages("fp.btn1")</a>
            <a id="graBut" class="btn btn-primary btn-lg" role="button">@Messages("fp.btn2")</a>
        </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <div class="tab-pane fade" id="details">
        <h1>@Messages("fp.detailsTitle")</h1>
        <div id="progress" class="alert alert-info" role="alert">@Messages("fp.detProgress")</div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Messages("fp.detAtt")</th>
                        <th>@Messages("fp.detSim")  <i class="fa fa-info-circle fa-2" rel="popover"
                            data-content="@Messages("fp.detSimExp")"></i></th>
                        <th>@Messages("fp.detVal")</th>
                    </tr>
                </thead>
                <tbody>
                    @display(column : String) = {
                        <td id="@column.toString().concat("Permap")">@{"%.2f".format(permap.get(column))}</td>
                        <td id="@column.toString().concat("Val")">@fp.get(column)</td>
                    }

                    @for((key,value) <- permap){ 
                    <tr id=key>
                        <td>@Messages(key) <i class="fa fa-info-circle fa-2" rel="popover" data-content="@Messages("test")"></i></td>
                        
                        @display(column = key)
                     
                        
                    </tr>  
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="grap">
        <div class="col-md-4">
            <h1>@Messages("fp.graphsTitle")</h1>
            <i class="fa fa-info-circle fa-3" rel="popover"
                data-content="@Messages("fp.graphsExp")"></i>
            <script type="application/javascript">
            

                @for((key,value) <- supergraph){ 

                var browData = '@{Html(supergraph.get(key).getJson().toString())}';
                browData = $.parseJSON(browData);
                var browArray = [];
                verArray = [];

                $.each(browData, function(key, brow) {
                    var total = 0 ;
                    if(key == '@{Html(supergraph.get(key).getName())}'){
                        $.each(brow, function(ver, numb){
                            total += numb;
                            if(ver == '@{Html(supergraph.get(key).getVersion())}'){
                                verArray.push({name: ver,y: numb*100, color:'#90ed7d' , visible: true, sliced: true});
                            } else {
                                verArray.push({name: ver,y: numb*100, color:'#434348' , visible: true});
                            }
                        });
                        browArray.push({name: key,y: total*100,color:'#90ed7d'});
                    } else {
                        $.each(brow, function(ver, numb){
                            total += numb;
                            verArray.push({name: ver,y: numb*100, color:'#434348' , visible: true});
                        });
                        browArray.push({name: key,y: total*100,color:'#434348' });
                    }
                });

                var supgraph = '@{Html(supergraph.get(key).getGraphName().toString())}';
            
                $("#"+supgraph).highcharts({
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: '@{Html(supergraph.get(key).getTitle().toString())}'
                    },
                    yAxis: {
                        title: {
                            text: 'Total percent share'
                        }
                    },
                    plotOptions: {
                        pie: {
                            shadow: false,
                            center: ['50%', '50%']
                        }
                    },
                    tooltip: {
                        valueSuffix: '%',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b><br>Percentage : '+ Highcharts.numberFormat(this.y,2)+'%';
                        }
                    },
                    series: [{
                        name: 'Percentage',
                        data: browArray,
                        size: '60%',
                        dataLabels: {
                            formatter: function () {
                                return this.y > 5 ? this.point.name : null;
                            },
                            color: 'white',
                            distance: -30
                        }
                    }, {
                        name: 'Percentage',
                        data: verArray,
                        size: '80%',
                        innerSize: '60%',
                        dataLabels: {
                            formatter: function () {
                                // display only if larger than 1
                                return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + Highcharts.numberFormat(this.y,2) + '%'  : null;
                            }
                        }
                    }]
                });


                }
                @for((key,value) <- graph){  
                    var timeData = '@{Html(graph.get(key).getJson().toString())}'
                    
                    timeData = $.parseJSON(timeData);
                    var timeArray = []; 
                    $.each(timeData, function(key, lang) {
                    var total = 0 ;
                    if(key == '@{Html(graph.get(key).getName())}'){
                        timeArray.push({name: key,y: lang*100,color:'#90ed7d', sliced: true});
                    } else {
                        timeArray.push({name: key,y: lang*100,color:'#434348' });
                    }
                });
                var grap = '@{Html(graph.get(key).getGraphName().toString())}'
                $('#'+grap).highcharts({                
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: '@{Html(graph.get(key).getTitle().toString())}'
                    },
                    yAxis: {
                        title: {
                            text: '@{Html(graph.get(key).getTitle().toString())}'
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Percentages',
                        data: timeArray
                    }]
                }); 
            }
                              
            
               
            </script> 
            @for((key,value) <- supergraph){
             <div id='@{Html(supergraph.get(key).getGraphName().toString())}' style="height: auto; width: auto"></div>
            } 

            @for((key,value) <- graph){ 
            
                <div id= '@{Html(graph.get(key).getGraphName().toString())}' style="height: auto; width: auto"></div>   
            }   

        </div>
    </div>
</div>